.imgDiv{
  margin: auto;
  position: relative;
  width: 1000px;
  height: 700px;
  
}

.txtDiv{
  position: absolute;
  top: 500px;
  left: 500px;
  background: rgba(128, 128, 128, 0.671);
  width:400px;
  height:150px;
  text-align: center;
  color: white;
}